.topmenu{
  padding-bottom: 12px;
}

.background-image {
  width: 100vw;
  height: 500px;
  background-image: url(http://murphyshawaii.com/media/2014/04/murphys-front.jpg);
}

.white-text {
  color: white;
  font-weight: bold;
}

.green-background {
  background-color: #004030;
}

a {
  color: black;
}
